@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&family=Sora&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Sora', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color: #FFF4E7;
    padding: 50px 0;
}
.width{
    width: 75%;
    margin: 0 auto;
}
/* Nav Ber
***********/
section{
    margin-top: 100px;

}
.primary{
    font-size: 18px;
    color: white;
    padding: 20px 25px;
    background-color: #FF900E;
    border: 0;
    border-radius: 10px;
}
.primary:hover{
    background-color: orangered;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav h1{
    font-size: 45px;
    font-weight: bold;
}
nav ul li{
    list-style-type: none;
}
nav ul{
    display: flex;
    gap: 50px;
}
nav li a{
    text-decoration: none;
    color: black;
}
/* Banner Section */
.banner{
  text-align: center;
}
.banner-container{
   width: 75%;
   margin: 0 auto;
   margin-bottom: 40px;
}
.banner-img img{
    width: 100%;
}
.banner-title{
    font-size: 4rem;
    padding: 0 60px;
    
}
.banner-container p{
    margin: 20px 0 30px 0;
}
.desc{
    line-height: 26px;
    color: #727272;
   
    text-align: center;
}

/* Featured Section
*********************/
.img-container{
    
}
#featured-desc{
    text-align: left;
    margin: 24px 0 32px 0;
}
.featured-img-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    
}
.featured-img-container div img{
    width: 100%;
    
}
.featured-img-container div{
    
    
}
.text-title{
    font-size: 2.6rem;
    font-weight: bold;
    
}
.feature{
    display: flex;
    align-items: center;
    gap: 30px;
}
.feature > div{
    flex: 1;
}

/* Details Section
********************/
.details{
    
   display: flex;
   
   gap: 50px;
  
   
}
.details > div{
    flex: 1;
}

.details-img-container img{
    width: 100%;
    height: 90%;
  
}
.details-text-container p{
    text-align: left;
}
.details-text-container-desc{
    margin-top: 24px;
    line-height: 26px
}
.sub-container{
    padding: 30px;
    box-shadow: 1px 1px 4px black;
    border-radius: 10px;
    margin: 20px 0
}
.sub-container:hover{
    border: 1px solid;
}
.sub-container-desc{
    margin-top:5px ;
}
.sub-container h1{
    font-size: 20px;
}
.details-text-title{
    width: 80%;
    font-size: 2.8rem;
    font-weight: bold;
}
/* Fact Section
******************/
#facts-desc{
    margin: 24px 0 50px 0;
    text-align: left;
    width: 70%;
}
.fact-container{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 10px;
    padding: 30px;
    
}
.facts-container{
    display: flex;
    justify-content: space-around;
    
}
.fact-container .fact-title{
    font-size: 2.8rem;
    font-weight: bold;
    margin: 5px 0 5px 0;
}
/* Sponspors Section
**********************/
.sponspors{
    text-align: center;
    margin-bottom: 100px;
}
.sponspors-text{
    width: 60%;
    margin: 0 auto;
}
.spons-img img {
    width: 100px;
    height: 50px;
}
.spons-img{
    display: flex;
 justify-content: space-between;
 margin-top: 50px;
}
.sponspors-text-desc{
    margin-top: 20px;
}

/* Footer

************/
footer{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF4E7;
   
}
#foot{
    margin-bottom: 150px;
    
    text-align: center;
    padding: 40px;
}

/* For Mobile
***************/

@media screen and (max-width:576px) {
    .width{
        width: 90%;
    }
    nav{
        flex-direction: column;
      gap: 10px;
    }
    .banner-title{
        padding: 0;
        font-size: 3.5rem;
    }
    .banner-container{
        width: 100%;
    }
    .feature{
        flex-direction: column-reverse;
    }
    .featured-img-container{
        grid-template-columns: 1fr;
    }
    .details{
        flex-direction: column;
    }
    .facts-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }
     .fact-container{
        width: 80%;
       
     }
     .sponspors-text{
        width: 90%;
     }
     .spons-img{
        flex-direction: column;
        align-items: center;
        gap: 40px;
     }
     .spons-img img{
        width: 50%;
     }
     footer{
        width: 90%;
     }
}

/* For Tablet
***************/

@media screen and (min-width:577px) and (max-width:992px) {
    .width{
        width: 90%;
    }
    nav ul{
        gap: 20px;
    }
    .banner-container{
        width: 100%;
    }
    .banner-title{
        padding: 0;
        font-size: 3.5rem;
    }
    .feature{
        flex-direction: column-reverse;
    }
    .details{
        flex-direction: column;
    }
    .sub-details{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
     .facts-container > div{
        width: 35%;
        
    }
    .facts-container{
        flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         
        gap: 30px;
    } 
    footer{
        width: 90%;
     }
}